{% extends "../base.html" %}


{% block title %}Register{% endblock  %}


{% block content %}
    {% for msg in messages %}
        {{msg}}
    {% endfor %}

    <div class="card p-2">
        <h2 class="">Create User</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
                <small id="usernameHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="password2">Confirm your Password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your Password">
            </div>

            <button class="btn btn-xl btn-success">Login</button>
        </form>
    </div>
{% endblock  %}